*

!.gitignore
!LICENSE
!README.md

!data_functions/
!data_functions/**

!utils/
!utils/** 
!generate_splits.py

!gnn/
!gnn/**
!tune_gnn.py

!tune_convnext.py
!tune_population_gnn.py
!tune_film.py
!tune_all.py

!models/
!models/**

**/__pycache__/**