*

!.gitignore
!LICENSE
!README.md

!data_functions/
!data_functions/**

!utils/
!utils/** 
!generate_splits.py
!resize_dataset.py

!gnn/
!gnn/**
!tune_gnn.py

!tune_convnext.py
!tune_population_gnn.py
!tune_film.py
!tune_all.py
!evaluate_all.py
!submit_tuning.sh
!submit_evaluation.sh

!models/
!models/**

!environment.yml

**/__pycache__/**